body {
  background-color: #F9F9F9;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0; }

.mobile-header {
  display: none; }

.background {
  display: -ms-flexbox;
  display: flex;
  background-color: #fefefe;
  width: 976px;
  height: 674px;
  margin: auto;
  box-shadow: 0px 5px 60px 0px #555;
  box-sizing: border-box; }

.column {
  margin: 1.5%;
  background-color: none;
  width: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.map-screen {
  background: none;
  -ms-flex-positive: 24;
      flex-grow: 24; }

.google {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #747474; }
  .google a {
    color: #747474;
    padding-left: 3px; }

#built-by {
  -ms-flex-pack: end;
      justify-content: flex-end; }

.controls {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
      align-items: stretch;
  -ms-flex-direction: column;
      flex-direction: column; }

.title {
  font-family: 'Lato', sans-serif;
  font-size: 50pt;
  display: -ms-flexbox;
  display: flex;
  color: #555555;
  -ms-flex-align: center;
      align-items: center; }

.inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 20px;
  padding-bottom: 0px; }

.go {
  padding-top: 20px;
  padding-bottom: 20px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;
  display: -ms-flexbox;
  display: flex; }

.results {
  overflow-y: scroll;
  height: 212px;
  -ms-flex-item-align: stretch;
      align-self: stretch; }

.go-button {
  border-radius: 200px;
  width: 130px;
  height: 45px;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
  color: white;
  background-color: #A5F08C;
  box-shadow: 0px 0px 10px 0px #aaa;
  cursor: pointer;
  transition: all 0.1s ease-in-out; }
  .go-button:hover {
    background-color: #97ee7a;
    box-shadow: 0px 2px 10px 0px #aaa;
    transform: translate(0px, -3px);
    transition: all 0.1s ease-in-out; }
  .go-button:active {
    background-color: #a5f08c;
    box-shadow: 0px 0px 10px 0px #aaa;
    transform: translate(0px, 0px); }
  .go-button:focus {
    outline: 0; }

.input-outer.open {
  height: 40px;
  width: 100%;
  cursor: pointer;
  background: #fbfbfb;
  border: 3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 300px;
  -ms-flex: 1;
      flex: 1;
  transition: all 0.3s ease-in-out;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px; }
  .input-outer.open .plus-line {
    height: 0px;
    top: 18px;
    transition: all 0.2s ease-in-out; }
  .input-outer.open .search-label {
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-weight: 300;
    font-size: 15pt;
    display: block;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease-in-out; }
  .input-outer.open .place-input {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    z-index: 100;
    padding-left: 20px;
    color: #ccc;
    margin-left: 10px;
    border-left: 3px #f6f6f6 solid;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-size: 15pt;
    font-weight: 300;
    display: block;
    vertical-align: middle;
    opacity: 1;
    transition: all 0.3s ease-in-out; }
    .input-outer.open .place-input::-webkit-input-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer.open .place-input::-moz-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer.open .place-input:-ms-input-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer.open .place-input::placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }

.input-outer-first {
  height: 40px;
  width: 100%;
  background: #fbfbfb;
  border: 3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 200px;
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px; }
  .input-outer-first .search-label {
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-weight: 300;
    font-size: 15pt; }
  .input-outer-first .place-input {
    background: none;
    outline: none;
    border: none;
    height: 100%;
    padding-left: 20px;
    font-family: 'Lato', sans-serif;
    color: #ccc;
    margin-left: 10px;
    border-left: 3px #f6f6f6 solid;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-size: 15pt;
    font-weight: 300;
    vertical-align: middle; }
    .input-outer-first .place-input::-webkit-input-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer-first .place-input::-moz-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer-first .place-input:-ms-input-placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }
    .input-outer-first .place-input::placeholder {
      font-family: 'Lato', sans-serif;
      color: #ccc;
      font-size: 15pt;
      vertical-align: middle;
      font-weight: 300; }

.closed {
  position: relative;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease-in-out;
  background: #fbfbfb;
  border: 3px solid #f6f6f6;
  box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
  -ms-flex: 1;
      flex: 1;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  margin-bottom: 14px;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 20px; }
  .closed .place-input {
    background: none;
    outline: none;
    border: none;
    border-left: 3px #f6f6f6 solid;
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-size: 15pt;
    font-weight: 300;
    opacity: 0;
    transition: all 0.3s ease-in-out; }
  .closed .search-label {
    font-family: 'Lato', sans-serif;
    color: #ccc;
    font-weight: 300;
    font-size: 15pt;
    opacity: 0;
    transition: all 0.3s ease-in-out; }

.result-panel {
  width: 98%;
  margin: 0 auto;
  margin-top: 20px;
  transition: all 0.1s ease-in-out;
  height: 120px;
  box-shadow: 0px 0px 6px 0px #ccc;
  cursor: pointer;
  background-color: #fefefe;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .result-panel:first-child {
    margin-top: 10px !important; }
  .result-panel:last-child {
    margin-bottom: 10px !important; }

.placename {
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-size: 20pt;
  color: #ccc;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 9px;
  border-bottom: 1px solid #ccc; }

.hr {
  width: 89%;
  padding: none; }
  .hr hr {
    color: #ccc; }

.longCo {
  display: -ms-flexbox;
  display: flex;
  width: 90%; }
  .longCo label {
    width: 30%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    color: #ccc; }

.latCo {
  display: -ms-flexbox;
  display: flex;
  width: 90%; }
  .latCo label {
    width: 30%;
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    font-weight: 300;
    color: #ccc; }

.CoDisplay {
  width: 60%;
  border: none;
  outline: none;
  background: none;
  padding-left: 20px;
  font-size: 15pt;
  color: #8f8f8f;
  font-family: 'Lato', sans-serif;
  cursor: pointer; }

.closed .plus-line {
  position: absolute;
  width: 3px;
  background-color: #cccccc;
  height: 24px;
  left: 16px;
  top: 5px;
  transition: all 0.2s ease-in-out; }
  .closed .plus-line:nth-child(1) {
    transform: rotate(90deg); }

.closed:hover .plus-line {
  transform: rotate(90deg); }

.result-panel:hover {
  background-color: #f9f9f9;
  transform: rotateX(10deg);
  box-shadow: 0px 3px 10px 0px #ccc;
  transition: all 0.1s ease-in-out; }

.selected {
  background-color: #f9f9f9;
  transform: rotateX(10deg);
  box-shadow: 0px 3px 10px 0px #ccc; }

@media screen and (min-width: 50px) and (max-width: 450px) and (orientation: portrait) {
  body {
    background-color: #fefefe; }
  .background {
    width: 100vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    box-shadow: none;
    height: auto;
    margin-top: 0;
    position: relative; }
  .title {
    font-size: 20pt;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
    -ms-flex-pack: center;
        justify-content: center; }
  .mobile-header {
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding: 10px;
    box-shadow: 0px 0px 30px #666;
    position: fixed;
    z-index: 90;
    background-color: #fefefe; }
    .mobile-header .mobile-header-logo {
      width: 40px;
      height: 40px;
      -ms-flex-item-align: end;
          align-self: flex-end; }
  #map-column {
    display: block;
    height: 200px;
    width: 100vw;
    top: 60px;
    position: relative;
    margin: 0; }
    #map-column .google {
      display: none; }
    #map-column .map-screen {
      width: 100vw;
      height: 100%; }
  #other-column {
    position: relative;
    width: 100vw;
    padding: 0;
    margin: 0; }
  .controls {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .controls .title {
      opacity: 0; }
  .go-button {
    height: 40px;
    width: 130px; }
  .go {
    padding-top: 10px;
    padding-bottom: 10px;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
  .inputs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-bottom: 8px;
    margin-top: 8px; }
  .input-outer.open {
    margin-bottom: 0px;
    height: 38px;
    width: 90%; }
    .input-outer.open .search-label {
      font-size: 14pt; }
    .input-outer.open .place-input {
      font-size: 14pt; }
      .input-outer.open .place-input::-webkit-input-placeholder {
        font-size: 14pt; }
      .input-outer.open .place-input::-moz-placeholder {
        font-size: 14pt; }
      .input-outer.open .place-input:-ms-input-placeholder {
        font-size: 14pt; }
      .input-outer.open .place-input::placeholder {
        font-size: 14pt; }
  .input-outer-first {
    margin-bottom: 0px;
    height: 38px;
    width: 90%; }
    .input-outer-first .search-label {
      font-size: 14pt; }
    .input-outer-first .place-input {
      font-size: 14pt; }
      .input-outer-first .place-input::-webkit-input-placeholder {
        font-size: 14pt; }
      .input-outer-first .place-input::-moz-placeholder {
        font-size: 14pt; }
      .input-outer-first .place-input:-ms-input-placeholder {
        font-size: 14pt; }
      .input-outer-first .place-input::placeholder {
        font-size: 14pt; }
  .closed {
    width: 38px;
    height: 38px;
    margin-bottom: 0px; }
    .closed .plus-line {
      height: 22px;
      left: 15px; }
  .results {
    display: -ms-flexbox;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 90%;
    height: 150px;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-left: 5%;
    margin-top: 10px; }
    .results .result-panel {
      margin: 0 !important;
      width: 100%;
      height: 100%;
      border: 1px #ccc solid;
      box-shadow: none !important;
      box-sizing: border-box; }
      .results .result-panel:hover {
        transform: none !important; }
    .results .selected {
      transform: none !important; }
    .results .CoDisplay {
      width: 50%; }
    .results .latCo label, .results .longCo label {
      width: 50%; }
  #built-by {
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
    padding: 20px; } }
