// ----- Import Font ----
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700')

// ---- Delcare all variables ----
$green: #A5F08C
$light: #2C2836
$med: #25222E
$dark: #1E1B27
$white: #F4F4F4
$grey: #E2E2E2

*
  font-family: 'Oxygen', sans-serif
  -webkit-font-smoothing: antialiased

body
  margin: 0
  font-size: 15pt
  overflow: hidden

// Mixin shortcut for min-width
@mixin respond($minWidth)
  @media screen and (min-width: $minWidth)
    @content

// Imports!
@import './components/header'
@import './components/side'
@import './components/search'
@import './components/main'
@import './components/map'
